<!DOCTYPE html>
<html>
<head>
	<% include ../partials/head.ejs %>
</head>
<body>
<% include ../partials/header.ejs %>

<h1><%= authors.firstName %> 
<%= authors.lastName %>	
</h1>
<p>
<div class="author-image">
		<img src="<%=authors.image%>">
	</div>
<% if (authors.alive == true) { %>
Good news, this author isn't dead yet!
<% } %>
<% if (authors.alive == false) { %>
Sorry, you'll never met this author at a book signing, because he dead.
<% } %>
</p>
<br>
<hr>
	<section id="book-section">
<% for(var i = 0; i < authors.books.length; i++) { %>
			
				
					
			<div class="books">
			<p> <%= authors.books[i].title %></p>
			<br>
			<img class="book-image" src="<%=authors.books[i].image%>"><br>

			</div>
			<% } %>
	</section>

<section id="create-book">
	<h2>ADD A BOOK TO THIS AUTHOR</h2>
	<form action="/authors/<%=authors.id%>" method="POST" id="create-form">
		<input type="text" name="title" placeholder="TITLE">
		<input type="text" name="image" placeholder="IMAGE">
		<button>CREATE</button>
	</form>
	<br/>	
</section>

<section class="delete-author">
WARNING: DANGER ZONE::: DELETE AUTHOR SECTION<br>
		<span id="danger-zone">WARNING: DELETE AUTHOR ACTION IRREVOCABLE</span>
			<form action="/authors/<%=authors.id%>?_method=DELETE" method="POST">
				<input type="hidden" name="_method" value="DELETE">
				<button id="delete-button">DELETE AUTHOR</button>
			</form>
		</section>
	
</section>

</body>
</html>